<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Numero</th>
            <th>Peso</th>
            <th>Altura</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of pokemons">
            <td><img class="pokemonImg" [src]="pokemon.image" [alt]="pokemon.name"></td>
            <td>{{pokemon.name | uppercase}}</td>
            <td>{{pokemon.id}}</td>
            <td>{{pokemon.height}}</td>
            <td>{{pokemon.weight}}</td>
            <td><button class="btn btn-outline-secondary"><a class="list-group-item list-group-item-action "
                        [routerLink]="['/pokemon', pokemon.id]">Ver</a></button></td>
        </tr>
    </tbody>
</table>